*.pyc
*.egg-info
*.egg
*build/
*.DS_Store
*.sass-cache
.ruby-version
/dist/
npm-debug.log
*/__pycache__/
/yummy_sphinx_theme/static/*
!/yummy_sphinx_theme/static/js/*
!/yummy_sphinx_theme/static/css/*
